.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: 1rem 0.5rem;
  padding: 2rem;
  background-color: #a0a0a0;
}

@media screen and (max-width: 1280px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 140%;
  }
}

@media screen and (max-width: 720px) {
  .list {
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    line-height: 150%;
  }
}

@media screen and (max-width: 520px) {
  .list {
    grid-template-columns: 1fr;
    font-size: 18px;
  }
}