.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 1rem 1rem;
  padding: 2rem;
  background-color: #a0a0a0;
}

@media screen and (max-width: 800px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .list {
    grid-template-columns: 1fr;
  }
}