.item {
  list-style-type: none;
  padding: 1rem;
  color: rgb(104, 104, 104);
  border: 1px solid #d65a5a;
  background: linear-gradient(to right, #f3d0d7 0%, rgb(228, 228, 228) 10%);
  background-color: rgb(228, 228, 228);
}

.title {
  margin-top: 0;
  color: #cb0000;
}

.content {
  margin-bottom: 2rem;
}

.time {
  font-weight: bold;
}